<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Blog | Web Hosting Canada</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="logo" src="img/logo.png" alt="Web Hosting Canada" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link mx-2" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/read_more">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/registration">Registration</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link border border-primary rounded px-4 py-2 bg-primary text-light" href="/login">Login</a>
        </li>
    </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->

<!-- Main Container -->
<div class="container pt-4">

<!-- Blog Section -->
<h1 class="display-3 text-center text-muted my-4">Blog</h1>
<div class="row d-flex">
    <div class="col-12 my-5">
        <!-- Featured Card -->
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!-- Featured Card End -->
    </div>
    <div class="col-12 my-5">
        <!-- Card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <!-- Card End -->
    </div>
    <div class="col-12 my-5">
        <!-- Card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <!-- Card End -->
    </div>
    <p class="text-muted my-5" align="center">More blog entries coming soon!</p>
</div>
<!-- Blog Section End -->

<!-- Footer -->
<div class="row py-4">
  <div class="col-md">
      <!-- Base Nav -->
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/read_more">Articles</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/registration">Registration</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      <!-- Base Nav End -->
  </div>
  <div class="row justify-content-center my-4">
      <div class="col-md-3">
          <p class="text-muted m-auto my-1">
              <i class="fa-brands fa-facebook"></i>
              /WebHostCanada
          </p>
          <p class="text-muted m-auto my-1">
              <i class="fa-brands fa-instagram"></i>
              /WebHostCanada
          </p>
          <p class="text-muted m-auto my-1">
              <i class="fa-brands fa-twitter"></i>
              @whcanada
          </p>
      </div>
      <div class="col-md-3">
          <p class="text-muted m-auto my-1">
              <i class="fa-solid fa-envelope"></i>
              info@webhostcanada.com
          </p>
          <p class="text-muted m-auto my-1">
              <i class="fa-solid fa-phone"></i>
              +1(647)222-8899
          </p>
          <p class="text-muted m-auto my-1">
              <i class="fa-solid fa-location-dot"></i>
              6 King St W, Toronto ON. M4N 3KL
          </p>
      </div>
  </div>
</div>
<!-- Footer End -->

<!-- Main Container End -->
</div>
    
</body>
</html>