<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home | Web Hosting Canada</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="img/logo.png" alt="Web Hosting Canada" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/read_more">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/registration">Registration</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link border border-primary rounded px-4 py-2 bg-primary text-light" href="/login">Login</a>
          </li>
      </ul>
      </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/bg-1.jpg" class="d-block w-100 mh-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Canada's Best.</h5>
          <p>We offer the best prices in Canada and the most reliable service in North America!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/bg-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Check Out Our Great Prices.</h5>
          <p>Start hosting your own website as low as $9.99 CAD/Month!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/bg-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Trust Is Our Priority.</h5>
          <p>Hundreds of thousands of customers trust us for their web hosting.</p>
        </div>
      </div>
    </div>
  </div>
<!-- Carousel End -->

<!-- Main Container -->
<div class="container pt-4">

<!-- About Us Section -->
<div class="row mt-4 py-5">
    <div class="col-12 col-md-3 my-4" align="center">
        <i class="fa-solid fa-server fa-5x"></i>
        <h3 class="my-4">Web Hosting</h3>
        <p>Get fast and unlimited web hosting for your site</p>
        <a href="#" class="btn btn-primary w-100">Get Hosting</a>
    </div>
    <div class="col-12 col-md-3 my-4" align="center">
        <i class="fa-solid fa-cloud-arrow-up fa-5x"></i>
        <h3 class="my-4">Cloud Servers</h3>
        <p>Take full control with our fastest virtual servers</p>
        <a href="#" class="btn btn-primary w-100">Compare Clouds</a>
    </div>
    <div class="col-12 col-md-3 my-4" align="center">
        <i class="fa-solid fa-globe fa-5x"></i>
        <h3 class="my-4">Affordable</h3>
        <p>Boost your business with dedicated hardware</p>
        <a href="#" class="btn btn-primary w-100">View Servers</a>
    </div>
    <div class="col-12 col-md-3 my-4" align="center">
        <i class="fa-brands fa-wordpress-simple fa-5x"></i>
        <h3 class="my-4">WordPress</h3>
        <p>Manage your WordPress websites fast and easily</p>
        <a href="#" class="btn btn-primary w-100">Get WordPress</a>
    </div>
</div>
<!-- About Us Section End -->

<!-- Blog Section -->
<h1 class="display-3 text-center text-muted my-4">Articles</h1>
<div class="row">
    <div class="col-md-6 col-lg-4 my-4" align="center">
        <!-- Image Card -->
        <div class="card mb-3" style="width: 18rem;">
            <img src="img/article-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">What is cloud computing?</h5>
              <p class="card-text">Simply put, cloud computing is the delivery of computing services—including servers, storage, databases, networking...</p>
            </div>
        </div>
        <!-- Image Card End -->
    </div>
    <div class="col-md-6 col-lg-4 my-4" align="center">
        <!-- Image Card -->
        <div class="card mb-3" style="width: 18rem;">
            <img src="img/article-2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web 6.0 Is Here</h5>
              <p class="card-text">It’s that time of the year again for all WordPress users… WordPress 6.0 “Arturo” has arrived! This version is named after the highly influential...</p>
            </div>
        </div>
        <!-- Image Card End -->
    </div>
    <div class="col-md-6 col-lg-4 my-4" align="center">
        <!-- Image Card -->
        <div class="card mb-3" style="width: 18rem;">
            <img src="img/article-3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">.CA Domain Backorders</h5>
              <p class="card-text">We just launched our new Backorder Tool for .CA domains! That’s right! You can now secure valuable .CA domains before...</p>
            </div>
        </div>
        <!-- Image Card End -->
    </div>
    <div class="row">
        <a href="/read_more" class="btn btn-primary w-25 mx-auto my-4">Read More Articles</a>
    </div>
</div>
<!-- Blog Section End -->

<!-- Footer -->
<div class="row py-4">
    <div class="col-md">
        <!-- Base Nav -->
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/read_more">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        <!-- Base Nav End -->
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-md-3">
            <p class="text-muted m-auto my-1">
                <i class="fa-brands fa-facebook"></i>
                /WebHostCanada
            </p>
            <p class="text-muted m-auto my-1">
                <i class="fa-brands fa-instagram"></i>
                /WebHostCanada
            </p>
            <p class="text-muted m-auto my-1">
                <i class="fa-brands fa-twitter"></i>
                @whcanada
            </p>
        </div>
        <div class="col-md-3">
            <p class="text-muted m-auto my-1">
                <i class="fa-solid fa-envelope"></i>
                info@webhostcanada.com
            </p>
            <p class="text-muted m-auto my-1">
                <i class="fa-solid fa-phone"></i>
                +1(647)222-8899
            </p>
            <p class="text-muted m-auto my-1">
                <i class="fa-solid fa-location-dot"></i>
                6 King St W, Toronto ON. M4N 3KL
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Main Container End -->
</div>
    
</body>
</html>